.button {
	@include background;
	border: none;
	border-radius: 30px;
	min-width: 195px;
	min-height: 50px;
	box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
	display: block;
	margin: 0 auto;
	color: #333333;
	font-size: 16px;
	font-weight: 700;
	padding: 15px 25px;
	&__popular {
		color: #333333;
		background: linear-gradient(269.89deg, #99CB38 0.07%, #C0F35B 99.89%);
		padding: 15px 70px;
	}
}

.header__toggle--close {
	width: 5px;
	height: 5px;
	background-color: black;
	display: none;
}

.button--calc {
	padding: 13px 70px;
	margin-top: 50px;
	width: 100%;
}

@media (min-width: 768px) {
	.button {
		max-width: 368px;
		font-size: 22px;
		padding: 20px 70px;

		&__popular {
			font-size: 20px;
			padding: 20px 65px;
		}
	}

	.button--calc {
		font-size: 20px;
		padding: 25px 50px;
		margin: 0 55px 0 0;
	}
}

@media (min-width: 1140px) {
	.button {
		&--nav {
			font-size: 16px;
			font-weight: 700;
			padding: 15px 25px;
			background: transparent;
			border: 1px solid $main-color;
			box-shadow: none;
			&:hover {
				@include background;
			}
		}
	}

	
	.button--calc {
		padding: 25px 60px;
		margin: 0 30px 0 0;
	}
}