.count {
    margin-top: 30px;
    @include background;

    &__container {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    &__block {
        background-color: white;
        padding: 25px 15px;
        text-align: center;
    }

    &__title {
        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;

        span {
            color: $main-color;
            font-weight: 900;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
        }
    }

    &__gift {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }

    &__calc {
        background-color: white;
        margin-top: 30px;
        border-radius: 10px;
    }

    &__photo {
        border-top-left-radius: 10px;    
        border-top-right-radius: 10px;
        width: 100%;
    }

    &__column {
       padding: 0 15px 45px 15px;
    }

    &__text {
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 50px;
        position: relative;
        &::before {
            content: '';
            width: 50px;
            height: 3px;
            background-color: $main-color;
            position: absolute;
            top: -17px;
            left: 0;
            border-radius: 10px;
        }
    }

    &__add {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-top: 30px;
        
        span {
            color: $decoration-color;
            padding-right: 5px;
        }
    }

    &__button {
        margin-top: 40px;
        width: 100%;
        font-weight: 500;
        font-size: 18px;
    }

    &__decor {
        font-weight: 900;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
        background-color: white;
        padding: 25px 15px;
        margin-top: 50px;
        text-align: center;
        span {
            font-weight: 900;
            font-size: 22px;
            line-height: 30px;
            color:$decoration-color;
        }
    }

    &__advantages {
        margin-top: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
    }

    &__item {
        background-color: white;
        text-align: center;
        padding-top: 24px;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &__advantage {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }

    &__description {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        padding: 0 7px;
        text-transform: uppercase;
    }

    &__img {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .count {
        margin-top: 74px;

        &__container {
            padding-top: 40px;
            padding-bottom: 60px;
        }

        &__block {
            padding: 25px 5px;
        }

        &__title {
            font-weight: 900;
            font-size: 22px;
            line-height: 35px;

            span {
                font-weight: 900;
                font-size: 22px;
                line-height: 35px;
            }
        }

        &__gift {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            padding-left: 25px;
            position: relative;

            &::before {
                content: '';
                background-image: url("../../img/mobile/main/gift.svg");
                position: absolute;
                width: 27px;
                height: 31px;
                top: -3px;
                left: 80px;
            }
        }

        &__calc {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 354px 1fr;
            align-items: center;
        }

        &__column {
            padding: 0;
            padding: 40px 15px 0 10px;
        }

        &__text {
            margin-top: 0;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
        }

        &__add {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-top: 35px;
        }

        &__button {
            font-size: 18px;
            max-width: 265px;
            padding: 15px 40px;
            margin-top: 50px;
        }

        &__photo {
            width: 354px;
            height: 421px;
            display: block;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        &__decor {
            margin: 0 auto;
            padding: 14px 20px;
            margin-top: 26px;
            max-width: 353px;
        }

        &__advantages {
            margin-top: 25px;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
        }

        &__item {
            padding-top: 30px;
        }

        &__advantage {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;

            &--color {
                padding: 0 27px;
            }

            &--calc {
                padding: 0 15px;
            }
        }

        &__description {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
        }

        &__img {
            width: 70px;
            height: 70px;
        }
    }
}

@media (min-width: 1140px) {
    .count {
        &__container {
            padding-top: 60px;
            padding-bottom: 65px;
        }

        &__title {
            font-weight: 900;
            font-size: 28px;
            line-height: 35px;
            span {
                font-weight: 900;
                font-size: 28px;
                line-height: 35px;
            }
        }

        &__gift {
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            &::before {
                left: 260px;
            }
        }

        &__photo {
            width: 620px;
            height: 560px;
        }

        &__calc {
            grid-template-columns: 620px 1fr;
        }

        &__column {
            padding-left: 35px;
        }

        &__text {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            &::before {
                top: -35px;
            }
        }

        &__add {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__button {
            margin-top: 50px;
            font-size: 20px;
        }

        &__decor {
            max-width: 360px;
            margin-top: 35px;
            font-size: 28px;
            padding: 25px 25px;
            span {
                font-size: 28px;
            }
        }

        &__advantages {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 35px;
            column-gap: 30px;
        }

        &__img {
            width: 80px;
            height: 80px;
        }

        &__item {
            padding-top: 35px;
        }

        &__advantage {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        &__description {
            font-size: 14px;
            margin-top: 5px;
            line-height: 17px;
        }
    }
}